@layer components {
    .c-footer{
    @apply 
        relative 
        pt-20 
        -mt-56 
        overflow-hidden
        px-5
        md:px-10
        z-40;
        perspective: 900px;
        background: linear-gradient(to bottom, transparent 0%, black 40%);
    }

   
    .c-footer__logo-outer{
        @apply
            flex
            pt-32
            w-full
            flex-col
            items-center;
        transform-style: preserve-3d;
        will-change: transform;
    }

    .c-footer__logo{
        @apply mt-2 w-full md:w-2/3;
        will-change: transform;
    }

    .c-footer__legal{
        @apply
            flex
            items-center
            justify-between
            uppercase
            text-white
            mt-10
            w-full
            py-3;
    }
        
}