@import "tailwindcss";
@import "./components/c-header.css";
@import "./components/c-hero.css";
@import "./components/c-slider.css";
@import "./components/c-footer.css";
@import "./components/c-work.css";
@import "./components/c-detail.css";


@font-face {
    font-family: 'PPMonumentNormal';
    src: url('/fonts/PPMonumentNormal-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PPMonumentNormal';
    src: url('/fonts/PPMonumentNormal-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PPMonumentNormal';
    src: url('/fonts/PPMonumentNormal-BlackItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PPMonumentNormal';
    src: url('/fonts/PPMonumentNormal-LightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PPMonumentNormal';
    src: url('/fonts/PPMonumentNormal-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PPMonumentNormal';
    src: url('/fonts/PPMonumentNormal-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@theme {
    --font-monument: 'PPMonumentNormal', sans-serif;
    --color-primary: #000;
}

html, body {
    @apply
        m-0
        relative
        w-full
        h-full
        text-white
        bg-primary
        font-monument;
}

