<section class="px-10 py-60 grid grid-cols-10 gap-5">
    <h2 class="text-[48px] col-span-8 col-start-2 tracking-[-5%] leading-12">Coanegra Films is a creative studio dedicated to world-class visual arts. As your creative partners, we transform concepts into powerful visual stories.</h2>
    <a href="#" class="tracking-[-5%] group col-start-2 col-span-2 flex items-center gap-2 text-[18px] text-[#C2C2C2] transition-all duration-300 hover:gap-4">
        <img src="/icons/red-circle.svg" class="group-hover:rotate-180 transition-all duration-300">
        <span>
            About us
        </span>
    </a>
</section>