---
import Logo3D from "./Logo3D.astro";
---

<footer class="c-footer">
    <div class="c-footer__logo-outer">
        <Logo3D src="/logos/logo.svg" layers={25} class="w-2/3 h-auto" />
    </div>
    <div class="c-footer__legal">
        <p class="text-xs uppercase">© {new Date().getFullYear()} Coanegra Films. All rights reserved.</p>
        <a href="https://www.inakimir.com" target="_blank">
            <img src="/logos/inakimir.svg" alt="Inaki Mir Logo" class="w-4">
        </a>
    </div>
</footer>

<script>
    import gsap from "gsap";

    const footer = document.querySelector(".c-footer");
    const container = document.querySelector("#logo-3d-container");
    
    const rotateX = gsap.quickTo(container, "rotationX", { duration: 0.5, ease: "power2.out" });
    const rotateY = gsap.quickTo(container, "rotationY", { duration: 0.5, ease: "power2.out" });

    footer.addEventListener("pointermove", (e) => {
        const { left, top, width, height } = footer.getBoundingClientRect();
        
        const x = (e.clientX - left) / width - 0.5;
        const y = (e.clientY - top) / height - 0.5;

        rotateY(x * 60);
        rotateX(-y * 60);
    });

    footer.addEventListener("pointerleave", () => {
        rotateX(0);
        rotateY(0);
    });
</script>

<style>
    .perspective-1000 {
        perspective: 1000px;
    }
</style>