<footer class="c-footer">
        <!-- <div class="c-footer__grid">
            <a class="col-span-2 col-start-1" href="mailto:coanegrafilms@gmail.com" target="_blank">coanegrafilms@gmail.com</a>
            <a class="col-span-2 col-start-1" href="https://www.instagram.com/coanegrafilms/" target="_blank">Instagram</a>
        </div> -->
        <div class=" flex w-full flex-col items-center">
            <img src="/logos/logo.svg" class="mt-2" alt="Logo Coanegra Films"> 
        </div>
</footer>