<footer class="c-footer">
        <div class="c-footer__grid">
            <a class="c-footer__title col-start-6" href="mailto:coanegrafilms@gmail.com">
                coanegrafilms@gmail.com 
                <img src="/icons/arrow.png" class="invert size-8"></a>
        </div>
        <div class=" flex w-full flex-col items-center">
            <img src="/logos/logo-footer.svg" class="mt-2" alt="Logo Coanegra Films"> 
        </div>
</footer>