<footer class="relative">
    <section class="grid grid-cols-10 px-10 py-10">
        <article class="col-start-1 col-span-4 flex flex-col gap-4 tracking-[-5%]">
            <h3 class="text-[40px] leading-10">Let’s team up and make something legendary.</h3>
            <div class="flex flex-col">
                <a href="mailto:coanegrafilms@gmail.com" target="_blank" class="group flex items-center gap-2 text-[18px] text-[#C2C2C2] transition-all duration-300 hover:gap-4">
                    <img src="/icons/red-circle.svg" class="group-hover:rotate-180 transition-all duration-300">
                    <span>
                        coanegrafilms@gmail.com
                    </span>
                </a>
                <a href="https://www.instagram.com/coanegrafilms/" target="_blank" class="group flex items-center gap-2 text-[18px] text-[#C2C2C2] transition-all duration-300 hover:gap-4">
                    <img src="/icons/red-circle.svg" class="group-hover:rotate-180 transition-all duration-300">
                    <span>
                        @coanegrafilms
                    </span>
                </a>
            </div>
        </article>

        <article class="col-start-10 col-span-1 flex flex-col gap-4 tracking-[-5%] self-center">
            <a href="/" class="group col-start-2 col-span-2 flex items-center gap-0 text-[20px] w-fit transition-all duration-300 hover:gap-4">
                <img src="/icons/red-circle.svg" class="opacity-0 group-hover:opacity-100 group-hover:rotate-180 transition-all duration-300">
                <span>
                    Home
                </span>
            </a>
            <a href="/" class="group col-start-2 col-span-2 flex items-center gap-0 text-[20px] w-fit transition-all duration-300 hover:gap-4">
                <img src="/icons/red-circle.svg" class="opacity-0 group-hover:opacity-100 group-hover:rotate-180 transition-all duration-300">
                <span>
                    Work
                </span>
            </a>
            <a href="/" class="group col-start-2 col-span-2 flex items-center gap-0 text-[20px] w-fit transition-all duration-300 hover:gap-4">
                <img src="/icons/red-circle.svg" class="opacity-0 group-hover:opacity-100 group-hover:rotate-180 transition-all duration-300">
                <span>
                    About
                </span>
            </a>
        </article>

        <article class="mt-28 tracking-[-5%] col-span-10 flex items-center justify-between">
            <p class="text-[12px]">Coanegra Films © 2026. All rights reserved</p>
            <a href="https://www.inakimir.com/" target="_blank">
                <img src="/logos/inakimir.svg" >
            </a>
        </article>
    </section>
    <section class="w-full overflow-hidden">
        <img src="/logos/logo-footer.svg">
    </section>
</footer>