---
import BigLogo from "./BigLogo.astro";
---

<header id="mainHeader" class="px-10 grid grid-cols-10 gap-5  relative">
  <div id="bigLogoWrapper" class="col-start-2 w-full col-span-8 overflow-hidden transition-transform duration-500 ease-in-out">
    <BigLogo />
  </div>
</header>

<nav id="mainNav" class="fixed top-0 left-0 w-full z-50 bg-black transform -translate-y-full transition-transform duration-500 ease-in-out">
  <div class="px-10 py-5 grid grid-cols-10 gap-5 items-center">
    <a href="/" class="col-start-1 col-span-2">
      <img src="/logos/logo.svg" >
    </a>
    <div class="col-start-9 col-span-2 flex items-center justify-end">
      <img id="openMenu" src="/icons/menu.svg" class="cursor-pointer">
    </div>
  </div>
</nav>

<section id="menuOverlay" class="grid grid-cols-10 gap-5 w-full fixed top-0 right-0 z-50 translate-x-[200%] transition-transform duration-500 ease-in-out">
  <article class="bg-white col-start-7 col-span-4 px-10 py-10 h-screen flex flex-col justify-between items-center">
    <div class=" w-full flex items-center justify-end">
      <img id="closeMenu" src="/icons/close.svg" class="cursor-pointer">
    </div>

    <nav class="flex flex-col gap-4 items-center justify-center -ml-2 mb-16">
      <a href="/" class="group col-start-2 col-span-2 flex items-center gap-0 font-black text-[72px] text-black w-fit transition-all duration-300 hover:gap-8">
        <img src="/icons/red-circle.svg" class="w-10 opacity-0 group-hover:opacity-100 group-hover:rotate-180 transition-all duration-300">
        <span>
            Home
        </span>
      </a>
      <a href="/" class="group col-start-2 col-span-2 flex items-center gap-0 font-black text-[72px] text-black w-fit transition-all duration-300 hover:gap-8">
          <img src="/icons/red-circle.svg" class="w-10 opacity-0 group-hover:opacity-100 group-hover:rotate-180 transition-all duration-300">
        <span>
            Work
        </span>
      </a>
      <a href="/" class="group col-start-2 col-span-2 flex items-center gap-0 font-black text-[72px] text-black w-fit transition-all duration-300 hover:gap-8">
            <img src="/icons/red-circle.svg" class="w-10 opacity-0 group-hover:opacity-100 group-hover:rotate-180 transition-all duration-300">
        <span>
            About
        </span>
      </a>
      <a href="/" class="group col-start-2 col-span-2 flex items-center gap-0 font-black text-[72px] text-black w-fit transition-all duration-300 hover:gap-8">
            <img src="/icons/red-circle.svg" class="w-10 opacity-0 group-hover:opacity-100 group-hover:rotate-180 transition-all duration-300">
        <span>
            Contact
        </span>
      </a>
    </nav>

  </article>
</section>

<script>
  const nav = document.getElementById('mainNav');
  const bigLogoWrapper = document.getElementById('bigLogoWrapper');
  const header = document.getElementById('mainHeader');

  const openMenu = document.getElementById('openMenu');
  const closeMenu = document.getElementById('closeMenu');
  const menuOverlay = document.getElementById('menuOverlay');

  openMenu.addEventListener('click', () => {
    menuOverlay.classList.remove('translate-x-[200%]');
  });

  closeMenu.addEventListener('click', () => {
    menuOverlay.classList.add('translate-x-[200%]');
  });

  window.addEventListener('scroll', () => {
    const scrollPos = window.scrollY;
    const headerBottom = header.offsetHeight;

    if (scrollPos >= headerBottom) {
      // Logo grande se va hacia arriba
      bigLogoWrapper.classList.add('-translate-y-full');
      // Nav pequeño aparece
      nav.classList.remove('-translate-y-full');
    } else {
      // Logo grande vuelve
      bigLogoWrapper.classList.remove('-translate-y-full');
      // Nav pequeño desaparece
      nav.classList.add('-translate-y-full');
    }
  });

  
</script>


