<section class="mt-20 px-10 py-5 grid grid-cols-10 gap-x-5">
    <h1 class="text-[32px] col-span-5 col-start-2 tracking-[-5%]">Your creative partners for Visual Arts.</h1>
    <a href="#" class="tracking-[-5%] group col-start-2 col-span-2 flex items-center gap-2 text-[18px] text-[#C2C2C2] transition-all duration-300 hover:gap-4">
        <img src="/icons/red-circle.svg" class="group-hover:rotate-180 transition-all duration-300">
        <span>
            Work with us
        </span>
    </a>
</section>

<section class="mt-20 px-10 py-5 grid grid-cols-10 gap-x-5">
<video 
  autoplay 
  muted 
  loop 
  playsinline 
  preload="metadata"
  class="col-span-8 col-start-2 w-full aspect-15/7 object-cover"
>
  <source src="/videos/video-home.mp4" type="video/mp4" />
</video>    
</section>