---
import Card from './Card.astro';
---

<section id="recentProjects" class="px-5 lg:px-10 py-5 grid grid-cols-10 gap-x-5">
    
    <article class="recent-header col-start-1 lg:col-start-2 col-span-10 lg:col-span-8 flex items-center justify-between">
        <h2 id="recentTitle" class="text-[40px] lg:text-[64px] tracking-[-5%]">Recent projects</h2>

        <a id="recentCTA" href="#" class="tracking-[-5%] group flex items-center gap-2 text-[16px] lg:text-[18px] text-[#C2C2C2] transition-all duration-300 hover:gap-4">
            <img src="/icons/red-circle.svg" class="group-hover:rotate-180 transition-all duration-300">
            <span>See all projects</span>
        </a>
    </article>

    <!-- Mobile -->
    <article id="recentSwiper" class="mt-16 lg:hidden col-span-10">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><Card title="Jordania" href="#" imageSrc="/images/cover-namibia.webp" videoSrc="/videos/video-namibia.mp4" /></div>
                <div class="swiper-slide"><Card title="Namibia" href="#" imageSrc="/images/cover-namibia.webp" videoSrc="/videos/video-namibia.mp4" /></div>
                <div class="swiper-slide"><Card title="Vi de la Terra" href="#" imageSrc="/images/cover-videlaterra.png" videoSrc="/videos/video-videlaterra.mp4" /></div>
            </div>
        </div>
    </article>

    <!-- Desktop -->
    <article id="recentGrid" class="hidden lg:grid mt-24 col-start-2 col-span-8 grid-cols-3 gap-5">
        <Card title="Jordania" href="#" imageSrc="/images/cover-namibia.webp" videoSrc="/videos/video-namibia.mp4" />
        <Card title="Namibia" href="#" imageSrc="/images/cover-namibia.webp" videoSrc="/videos/video-namibia.mp4" />
        <Card title="Vi de la Terra" href="#" imageSrc="/images/cover-videlaterra.png" videoSrc="/videos/video-videlaterra.mp4" />
    </article>

</section>

<script>
    //SWIPER
    import Swiper from 'swiper/bundle';
    import 'swiper/css/bundle';

    const swiper = new Swiper('.swiper', {
        spaceBetween: 16,
        slidesPerView: 1.2,
    });

    //GSAP
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    gsap.timeline({
    scrollTrigger: {
        trigger: "#recentProjects",
        start: "top 80%",
        end: "top 30%",
        scrub: true
    }
    })
    .fromTo("#recentTitle", { y: 50, opacity: 0 }, { y: 0, opacity: 1, duration: 1, ease: "power3.out" })
    .fromTo("#recentCTA", { y: 30, opacity: 0 }, { y: 0, opacity: 1, duration: 0.8, ease: "power2.out" }, "-=0.6");


    gsap.utils.toArray("#recentGrid .recentCard").forEach((card, i) => {
    gsap.from(card, {
        scrollTrigger: {
        trigger: card,
        start: "top 85%",
        end: "top 50%",
        toggleActions: "play none none reverse"
        },
        y: 50,
        opacity: 0,
        duration: 0.8,
        delay: i * 0.2,
        ease: "power2.out"
    });
    });


    gsap.utils.toArray("#recentSwiper .swiper-slide").forEach((slide, i) => {
    gsap.from(slide, {
        scrollTrigger: {
        trigger: slide,
        start: "top 85%",
        end: "top 50%",
        toggleActions: "play none none reverse"
        },
        y: 50,
        opacity: 0,
        duration: 0.8,
        delay: i * 0.15,
        ease: "power2.out"
    });
    });
</script>