---
import { projects } from '../data/projects';
---

<section class="c-work ">
  <article class="c-work__navbar">
    <h1 class="c-work__navbar--title">Our work</h1>
    <p class="c-work__navbar--text">A selection of film and visual storytelling projects by Coanegra Films, a young and creative production company crafting bold narratives, dynamic visuals, and distinctive brand content across independent and collaborative work.</p>
  </article>

  <article class="c-work__content">
      {projects.map((project) => (
        <div class="c-work__content--item" >
          <a href={project.link} class="c-work__content--link">
            <img
              src={project.cover}
              alt={project.title}
              class="c-work__content--image"
            />
          </a>
        </div>
      ))}
  </article>

  
</section>



